<!-- <app-add-account></app-add-account>
<ul>
    <li *ngFor="let item of accounts">{{item.name+"----------"+item.password}} </li>
</ul>
<div>
    <ul>
        <li *ngFor="let item of postArray">
            {{item.id}}
        </li>
    </ul>
</div>


Title:<input type="text" #postTitle>
Body:<input type="text" #postBody>
Id:<input type="text" #postId>
<button (click)="addpost()">Add Post</button>
<button (click)="putpost()">put Post</button> -->
<br>
<br>
<br>
<br>

<div class="container">
    <form #a="ngForm" (ngSubmit)="OnSubmit(a)" >
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" id="Username" ngModel name="Username"required #username="ngModel">
            <span class="help-block " *ngIf="!username.valid && username.touched">Enter a valid username </span>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="Email" ngModel name="Email" required email >
        </div>

        <div class="form-group">
            <label>Gender</label>
            <select class="form-control" id="Gender" [ngModel]="defulteGender" name="Gender"required>    
                <option value="Male">Male</option>
                <option value="Female">female</option>
            </select>
        </div>
        <br>
        <div class="form-group">
        <input type="text" name="color"[(ngModel)]="color" class="form-control">
        <span>your favorite color:{{color}}</span>
    </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!a.valid">Submit</button>
    </form>

</div>